# conda create --name tutorial python=3.12
# conda activate tutorial
# pip install -r requirements_cpu.txt

notebook==7.4.7
pillow==11.3.0
numpy==1.26.4
requests==2.32.4
matplotlib==3.10.0
pandas==2.2.2
polars==1.35.2
scikit-image==0.25.2
scikit-learn==1.6.1
sklearn-compat==0.1.5
sklearn-pandas==2.2.0
geopandas==1.1.3
pyarrow==18.1.0
seaborn==0.13.2
umap-learn==0.5.11
shap==0.49.1
shapely==2.1.2
joblib==1.5.3
satlaspretrain-models==0.3.1
torchcam==0.4.1
rasterio==1.4.3
tensorboard==2.20.0
opencv-python==4.11.0.86
torch==2.10.0
torchao==0.10.0
torchdata==0.11.0
torchsummary==1.5.1
torchtune==0.6.1
torchvision==0.25.0
--extra-index-url https://download.pytorch.org/whl/cpu
